body{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(sideline.jpg);
   height: 490px;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: head;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes head{
    50%{
        background-image: url(backgound.jpg);
    }
}
.sew{  
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-bottom-color: 1px solid black;
}
.logo{
    line-height: 0;
    margin-left: 60px;
}
.logo img{
    margin-left: 60px;
    height: 20px;
    margin-top: 10px;
}
.logo h2{
    color: white;
}
.logo h3{
    color: orange;
}
.list{
    display: flex;
    gap: 50px;
}
.list p{
    color: white;
}
.list img{
    width: 20px;
    height: 20px;
    margin-top: 17px;
}
.white{
    color: white;
    background-color: grey;
    border-radius: 50px;
}
.btn{
    margin: 20px;
}
.orange{
    background-color: orange;
    border-radius: 50px;
}
.sec1 h1{
    font-size: 4.5rem;
    font-family: freestyle script;
    color: white;
    margin-left: 30px;
    margin-top: 040px;
}
.input{
    display: flex;
    background-color: white;
    width: 300px;
    border: none;
    border-radius: 30px;
    margin-left: 50px;
}
.input input{
    border-radius: 30px;
    border: none;
}
.input button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 10px;
}
.Popular{
    margin-top: 40px;
    line-height: 1px;
    font-family: freestyle script;
}
.Popular img{
    width: 20px;
    height: 20px;
    margin-left: 650px;
    /* margin-bottom: 110px; */

}
.Popular h1{
    margin-left: 550px;
}
.eight{
    display: flex;
    gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.eight button{
    border-radius: 20px;
    border: 1px solid orange;
    background-color: white;
}
button:hover{
    background-color: orange;
    color: white;
}
.sec3 img{
width: 170px;
height: 170px;
border-top-right-radius: 80px;
border-top-left-radius: 80px;
}
.food1{
border-top-left-radius: 80px;
border-top-right-radius: 80px;
width: 170px;
box-shadow: 1px 5px 1px rgb(109, 97, 97);
border: 1px solid rgb(122, 115, 115);
line-height: 10px;
animation-name: as;
animation-iteration-count: infinite;
animation-duration: 1.5s;
animation-timing-function: ease-in-out;
}
/* @keyframes as{
    from{
        margin-bottom: 20%;
    }  
    to{
        margin-bottom: 0%;
    }
} */

.food1 h3{
color: yellow;
}
.PURCHASE p{
    border: 1px solid orange;
    margin-left: 15px;
    text-align: center;
    align-items: center;
    height: 10px;
    margin-top: 20px;
}
.PURCHASE{
display: flex;
}
.food1 p{
    font-size: 10px;
}
.food1 h4{
text-align: left;
margin-left: 20px;
}
.sec3{
align-items: center;
text-align: center;
justify-content: space-around;
display: flex;
margin-top: 50px;
}
.sec4{
    margin-top: 20px;
    background-color: rgb(192, 192, 192);
    height: 500px;
    display: flex;
}
.words h3{
    margin-top: 0120px;
    margin-left: 180px;
    font-size: 30px;
    font-family: freestyle script;
}
.human img{
    margin-top: 50px;
    border-radius: 200px;
margin-left: 90px;
width: 400px;
height: 400px;
}
.words h5{
    font-weight: lighter;
    font-family: monospace;
    margin-left: 180px;
    font-size: 20px;
    color: rgb(109, 109, 109);
}
.sec5{
    display: flex;
}
.phone{
    display: block;
    font-weight: lighter;
    font-size: 10px;
    color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    margin-left: 180px;
}
.phone img{
    width: 30px;
    height: 30px;
}
.sec{
    
    display: block;
}
.close{
    background-image: url(.neat.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    /* margin-bottom: 20px; */
}
.close h1{
    color: white;
    font-size: 90px;
    margin-top: 60px;
    text-align: center;
    font-family: freestyle script;
}
.close button{
    padding: 15px 50px;
    border-right: 5px solid;
    border: none;
    background-color: orange;
    color: white;
}
.close input{
    color: orange;
    border: none;
}
input {
    font-size: 20px;
}
.tree{
    background-color: white;
    width: 180px;
    display: flex;
    margin-left: 370px;
    margin-top: -20px;
    
}
.six{
    background-color: black;
    height: 400px;
    justify-content: space-around;
}
.lgo{
    line-height: 0;
    margin-left: 150px;
}
.lgo img{
    margin-left: 60px;
    height: 30px;
    margin-top: 10px;
}
.lgo h2{
    color: white
}
.lgo h3{
    color: orange;
}
.UL{
display: block;
text-decoration: none;
}
.UL li{
    line-height: 2;
    margin-left: 500px;
    color: white;
}
.FUL li{
    line-height: 2;
    color: white;
    
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer h3{
    font-family: freestyle script;
    color: white;
    font-size: 30px;
}
.button button{
background-color: orange;
color: white;
}
.line{
    margin-top: 20px;
border-top: 5px solid;
border-top-color: orange;
width: 270px;
text-align: center;
align-items: center;
margin-left: 490px;    
}
.finally{
    color: white;
    margin-left: 550px;
}

.autorotate{
    animation: autorotate;
    animation-timeline: view();
}
@keyframes autorotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.autoshow{
    animation: autoshow both;
    animation-timeline: view(70% 5%);
}
@keyframes autoshow{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}